<div class="header-description">
  <div class="header-description__title">
    <p>Never Caught <br>
      Off-Guard Again</p>
  </div>
  <div class="header-description__under_title">
    <div class="header-description__description">
      <p>We are specialist in protecting your assets and reputation to make <br>
        sure you operate risk-free and focus on your
        core business.</p>
    </div>
    <button class="header-description__btn">
      <p>Learn More</p>
    </button>
    <div class="header-description__scroll">
      <a href="#scroll_bottom">
        <img src="assets/scroll.png" alt="">
      </a>
    </div>
  </div>
</div>
